<section id="{{ section.section_id }}" class="page-section text-white" style="background: linear-gradient(rgba(92, 77, 66, 0.8), rgba(92, 77, 66, 0.8)), {{ section.background_image }}, no-repeat center center;
  background-size: cover;">
  <div class="container">
    <h2 class="text-center mt-0">{{ section.title }}</h2>
    <hr class="divider my-4">
    <p class="text-center {{ section.note_style | default: "text-white" }} mb-5">{{ section.note }}</p>
    <div class="row justify-content-center">
      <div class="mb-4 col-sm-12 col-md-12 col-lg-9 col-xl-7 {{ section.text_style | default: "text-white" }}">
        {{ section.text | newline_to_br | markdownify }}
      </div>
    </div>
    {% include actions.html actions=section.actions %}
  </div>
</section>
